/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link-to-details {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add-task-block__task,
.incomplete-task__task,
.completed-task__task,
.incomplete-task__name,
.completed-task__name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-task-block__task-wrapper {
  display: flex;
}

.incomplete-tasks-list,
.completed-tasks-list {
  margin: 0;
  padding: 0;
}

.incomplete-task,
.completed-task {
  list-style: none;
}

.add-task-block__task,
.incomplete-task__task,
.incomplete-task__checkbox,
.completed-task__task,
.completed-task__checkbox,
.add-task-block__btn-add,
button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #3a3a3a;
}

/* Heading */
h3,
.add-task-block__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.add-task-block__task,
.incomplete-task__task,
.completed-task__task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.add-task-block__task:focus,
.incomplete-task__task:focus,
.completed-task__task:focus {
  color: #333;
}

/* New Task */
.add-task-block__title {
  display: block;
  margin: 0 0 20px;
}

.add-task-block__task {
  width: 318px;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

li>* {
  vertical-align: middle;
}

.incomplete-task__checkbox,
.completed-task__checkbox {
  margin: 0 10px;
}

li>label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.incomplete-task__task,
.completed-task__task {
  width: 226px;
  display: none;
}

button.btn-delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

button.btn-delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-task__name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.edit-mode .incomplete-task__task,
.edit-mode .completed-task__task {
  display: inline-block;
  width: 224px;
}

.edit-mode .incomplete-task__name,
.edit-mode .completed-task__name {
  display: none;
}